body{
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    position: absolute;
}

.photobooth{
    width: 100% !important;
    height: 100% !important;
}

.video_canvas{
    width: 100% !important;
    height: 70% !important;
}
.canvas_div{
    width: 100% !important;
    height: 100% !important;
}
.photo{
    width: 100% !important;
    height: 100% !important;
}

.effects_tab{
    overflow: hidden;
    display: flex;
}

.effect_btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:none;
}
.red_effect .effect_btn{
    background: rgba(255, 0, 0, 0.562)
}
.green_effect .effect_btn{
    background: rgba(0, 128, 0, 0.719)
}